.layout {
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 15%;
  height: 90vh;
  background-color: #36393f; /* Discord grey */
  color: #ffffff; /* White text */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  flex: 0 0 60px;
  border-radius: 1%;
  border: #5865f2 solid 1px;
  background-color: #2f3136;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
}

.main {
  border-radius: 1%;
  border: #5865f2 solid 1px;
  display: flex;
  flex: 1;
}

.sidebar {
  border-radius: 1%;
  border: #5865f2 solid 1px;
  flex: 0 0 150px;
  background-color: #2f3136;
  display: inline;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.channels {
  border-radius: 1%;
  border: #5865f2 solid 1px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.chatSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #40444b;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messageInput {
  flex: 0 0 auto;
  display: flex;
  padding: 10px;
  border-top: 1px solid #2f3136;
  background-color: #40444b;
}

.userList {
  flex: 0 0 150px;
  background-color: #2f3136;
  display: inline;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.userListItems {
  margin-left: -25px;
}

.button {
  background-color: #585d72;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5%;
  margin: 2px;
}

.button:hover {
  background-color: #5865f2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
