.button {
  background-color: #585d72;
  color: #ffffff;
  border: none;
  padding: 2px 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5%;
  margin: 2px;
}

.button:hover {
  background-color: #5865f2;
}
